@import url(./fonts.css);


:root{
    --font-primary: 'Roboto';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1376px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* header start */



/* header end */



/* membership start */




/* membership end */

/* guide start */




/* guide end */


/* info start */




/* info end */


/* slider start */




/* slider end */


/* already start */




/* already end */




/* community start */




/* community end */


/* place start */

.place__container{
    position: absolute;
    font-family: 'Roboto';
    height: 100%;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #692340;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.place__text{
    color: #FBEECA;
    position: absolute;
    height: 148px;
    left: 31.53%;
    right: 31.46%;
    top: 114.3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 61px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 1px;   
}
.place__min-text{
    color: #FBEECA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    padding-top: 300px;
}
.place__link{
    color: #692340;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    padding: 20px 20px;
    top: 0px;
    background: #FBEECA;
    box-shadow: 0px 0px 0px #FBEECA;
    border-radius: 0px; 
    transition: .5s;
    margin-top: 50px;
    position: relative;
}
.place__link:hover{
    color: #1b1b1b;
    background: rgb(255, 192, 110);
}
.place__text2{
    color: #FBEECA;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}
/* place end */


/* footer start */




/* footer end */



